{% load static i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "cooking/css/site.css" %}">
</head>
<body>
<header class="navbar">
    <div class="logo">
        <a href="{% url "cooking:index" %}">
            <img src="{% static "cooking/img/logo.svg" %}">
            <span>Django Cooking</span>
        </a>
    </div>
    <div class="navbar-container">
        <nav class="navbar-menu">
            <a class="button" href>{% trans "Create an account" %}</a>
            <a class="button primary" href>{% trans "Sign In" %}</a>
        </nav>
    </div>
</header>
<div class="content">
    {% block content %}{% endblock %}
</div>
<footer>
</footer>
</body>
</html>